<style type="text/css">
body {
	margin: 0 auto;
}

.formulario {
	margin: 0 20%;
	padding: 50px;
 	background-color: #ebebe0; /* 90% */
	border-radius: 40px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}