<style type="text/css">
body {
	margin: 0 auto;
	/*background-color: #cc00cc;  #e1e1d0   85% */
}

.formulario {
	margin: 50px 20%;
	padding: 50px;
 	background-color: #ebebe0; /* 90% */
	border-radius: 40px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}